@{
    ViewBag.Title = "Index";
}

<h2>Fixtures</h2>

<table id="FixtureList" class="table table-striped">
    <tbody id="FixtureListBody">
        <tr>
            <td>
                <div class="spinner-border pull-left" role="status">
                    <span class="visually-hidden">Loading Fixtures...</span>
                </div>
                Loading Fixtures...
            </td>
        </tr>
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
    <script>
    var $FixtureListBody = $('#FixtureListBody');
    $.ajax({
        url: "@Url.Action("AllFixtures", "Fixtures", new {team = 57})",
        type: 'GET',
        success: function (res) {
            var data = JSON.parse(res);
            var matches = data.matches;

            $FixtureListBody.empty();
            if (matches.length > 0) {
                $.each(matches, function (i, m) {
                    console.log('m:', m)
                    var $tr = $('<tr>'),
                        $home = $('<td style="text-align: right;">'),
                        $homeScore = $('<td style="text-align: right;">'),
                        $sep = $('<td style="text-align: center;">:</td>'),
                        $away = $('<td style="text-align: left;">'),
                        $awayScore = $('<td style="text-align: left;">');

                    //
                    $home.append(m.homeTeam.shortName);
                    $away.append(m.awayTeam.shortName);

                    if (m.score.winner) {
                        $homeScore.append(m.score.fullTime.home);
                        $awayScore.append(m.score.fullTime.away);

                    }

                    $tr.append($home).append($homeScore).append($sep).append($awayScore).append($away);
                    $FixtureListBody.append($tr);
                });
            } else {
                $FixtureListBody.append($('<tr>').append($('<td>').append('No fixtures loaded')));
            }
        }
    });
    </script>
}